{% extends "news/base.html" %}

{% load static %}

{% block content %}

<section id="sliderSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="slick_slider">
        {% for news in all_news_list %}
        <div class="single_iteam">
          <a href="pages/news.detail_page.html">
            <img src="{{ news.image.url }}" alt="">
          </a>
          <div class="slider_article">
            <h2><a class="slider_tittle" href="pages/news.detail_page.html">{{ news.body|truncatewords:15 }}</a></h2>
            <p>{{ news.body|truncatewords:9 }}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="latest_post">
          <h2><span>So'ngi yanglik</span></h2>
<div class="latest_post_container">
  <div id="prev-button"><i class="fa fa-chevron-up"></i></div>
  <ul class="latest_postnav">
    {% for news in all_news_list %}
    <div class="media">
      <a href="pages/single_page.html" class="media-left">
        <img alt="" src="{{ news.image.url }}"> <!-- Rasm yo'li to'g'ri ko'rsatilganligiga ishonch hosil qiling -->
      </a>
      <div class="media-body">
        <a href="pages/single_page.html" class="catg_title">{{ news.title |truncatewords:15}}</a>
      </div>
    </div>
    {% endfor %}
          </ul>
          <div id="next-button"><i class="fa fa-chevron-down"></i></div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contentSection">
  <div class="row">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="left_content">
        <div class="single_post_content">
          <h2><span>O'zbekiston</span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav wow fadeInDown">
              {% for uzb_news in uzb_news_list %}
              {% if forloop.first %}
              <li>
                <figure class="bsbig_fig">
                  <a href="pages/news.detail_page.html" class="featured_img">
                    <img alt="" src="{{ uzb_news.image.url }}">
                    <span class="overlay"></span>
                  </a>
                  <figcaption>
                    <a href="news.detail_page.html">{{ uzb_news.title|truncatewords:2 }}</a>
                  </figcaption>
                  <p>{{ uzb_news.body|truncatewords:2 }}</p>
                </figure>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
              {% for uzb_news in uzb_news_list %}
              {% if forloop.counter > 1 %}
              <li>
                <div class="media wow fadeInDown">
                  <a href="pages/news.detail_page.html" class="media-left">
                    <img alt="" src="{{ uzb_news.image.url }}">
                  </a>
                  <div class="media-body">
                    <a href="pages/news.detail_page.html" class="catg_title">{{ uzb_news.title|truncatewords:3 }}</a>
                  </div>
                </div>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="fashion_technology_area">
          <div class="fashion">
            <div class="single_post_content">
              <h2><span>Sport</span></h2>
              <ul class="business_catgnav wow fadeInDown">
                {% for sport_news in sport_news_list %}
                {% if forloop.first %}
                <li>
                  <figure class="bsbig_fig">
                    <a href="pages/news.detail_page.html" class="featured_img">
                      <img alt="" src="{{ sport_news.image.url }}">
                      <span class="overlay"></span>
                    </a>
                    <figcaption>
                      <a href="pages/news.detail_page.html">{{ sport_news.title|truncatewords:7 }}</a>
                    </figcaption>
                    <p>{{ sport_news.body|truncatewords:7 }}</p>
                  </figure>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
              <ul class="spost_nav">
                {% for sport_news in sport_news_list %}
                {% if forloop.counter > 1 %}
                <li>
                  <div class="media wow fadeInDown">
                    <a href="pages/news.detail_page.html" class="media-left">
                      <img alt="" src="{{ sport_news.image.url }}">
                    </a>
                    <div class="media-body">
                      <a href="pages/news.detail_page.html" class="catg_title">{{ sport_news.title|truncatewords:7 }}</a>
                    </div>
                  </div>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
            </div>
          </div>
          <div class="technology">
            <div class="single_post_content">
              <h2><span>Jahon</span></h2>
              <ul class="business_catgnav">
                {% for jahon_news in jahon_news_list %}
                {% if forloop.counter > 1 %}
                <li>
                  <figure class="bsbig_fig wow fadeInDown">
                    <a href="pages/news.detail_page.html" class="featured_img">
                      <img alt="" src="{{ jahon_news.image.url }}">
                      <span class="overlay"></span>
                    </a>
                    <figcaption>
                      <a href="pages/news.detail_page.html">{{ jahon_news.title|truncatewords:3 }}</a>
                    </figcaption>
                    <p>{{ jahon_news.body|truncatewords:3 }}</p>
                  </figure>
                </li>
                {% endif %}
                {% endfor %}
              </ul>
              <ul class="spost_nav">
                <li>
                  <div class="media wow fadeInDown">
                    <a href="pages/news.detail_page.html" class="media-left">
                      <img alt="" src="{% static 'images/post_img1.jpg' %}">
                    </a>
                    <div class="media-body">
                      <a href="pages/news.detail_page.html" class="catg_title">Aliquam malesuada diam eget turpis varius 1</a>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="single_post_content">
          <h2><span>Rasimlar</span></h2>
          <ul class="photograph_nav wow fadeInDown">
            {% for all_news in all_news_list %}
            {% if forloop.counter > 1 %}
            <li>
              <div class="photo_grid">
                <figure class="effect-layla">
                  <a class="fancybox-buttons" data-fancybox-group="button" href="{{ all_news.image.url }}" title="Photography Title 1">
                    <img src="{{ all_news.image.url }}" alt=""/>
                  </a>
                </figure>
              </div>
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>

        <div class="single_post_content">
          <h2><span>Fan-texnika</span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav">
              {% for fan_tkink_news in fan_tkink_news_list %}
              {% if forloop.counter > 1 %}
              <li>
                <figure class="bsbig_fig wow fadeInDown">
                  <a class="featured_img" href="pages/news.detail_page.html">
                    <img src="{{ fan_tkink_news.image.url }}" alt="">
                    <span class="overlay"></span>
                  </a>
                  <figcaption>
                    <a href="pages/news.detail_page.html">{{ fan_tkink_news.title }}</a>
                  </figcaption>
                  <p>{{ fan_tkink_news.body }}</p>
                </figure>
              </li>
              {% endif %}
              {% endfor %}
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
                {% for fan_tkink_news in fan_tkink_news_list %}
              <li>
                <div class="media wow fadeInDown">
                  <a href="pages/news.detail_page.html" class="media-left">
                    <img alt="" src="{{ all_news.image.url }}">
                  </a>
                  <div class="media-body">
                    <a href="pages/news.detail_page.html" class="catg_title">{{ all_news.title }}</a>
                  </div>
                </div>
              </li>
              
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="single_post_content">
          <h2><span>So'nggi yangiliklar</span></h2>
          <div class="single_post_content_left">
            <ul class="business_catgnav">
              {% for news in all_news_list %}
              {% if forloop.first %}
              <li>
                <figure class="bsbig_fig wow fadeInDown">
                  <a class="featured_img" href="pages/news.detail_page.html">
                    <img src="{{ news.image.url }}" alt="">
                    <span class="overlay"></span>
                  </a>
                  <figcaption>
                    <a href="pages/news.detail_page.html">{{ news.tile| truncatewords:3}}</a>
                  </figcaption>
                  <p>{{ news.body| truncatewords:3}}</p>
                </figure>
              </li>
                 {% endif %}
                {% endfor %}
              
            </ul>
          </div>
          <div class="single_post_content_right">
            <ul class="spost_nav">
             {% for jamiyat_news in jamiyat_news_list %}
              <li>
                <div class="media wow fadeInDown">
                  <a href="pages/news.detail_page.html" class="media-left">
                    <img alt="" src="{{jamiyat_news.imge.url}}">
                  </a>
                  <div class="media-body">
                    <a href="pages/news.detail_page.html" class="catg_title">{{jamiyat_news.title}}</a>
                  </div>
                </div>
              </li>
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
